<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Add Products</title>
</head>

<style>
.header {
  padding: 30px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 10px;
}
</style>

<div class="header" bgColor="Brown">
    <h1> Add Products here </h1>
    <nav>
     <div class="container">
         <div class="row">
             <div class="col-xs-2">
                 <h1> <a href="/">Home</a></h1>
             </div>
            <div class="col-xs-4">
                <h1><a href="/authentication/logout">Logout</a></h1>
            </div>
         </div>
     </div>
</nav>

</div>

<body>


</body>
</html>