<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <title>Main Page</title>
</head>

<div class="header">

    <h1> SHOPPING FOR LESS </h1>
    <div class="row" >

        <div class="col-sm-4" align="right">
            <form  action="/" method="POST">
                {% csrf_token %}
                <button class="button" type="submit" >Home</a></button>
            </form>
        </div>
        <div class="col-sm-4" >
            <form  action="/myCart/displayCart" method="POST">
                {% csrf_token %}
                <button class="button" name="userId" value={{user.id}}>My Cart</button>
            </form>
        </div>
        <div class="col-sm-4" >
            <form  action="/authentication/logout" method="POST">
                {% csrf_token %}
                <button class="button" type="submit">Logout</a></button>
            </form>
        </div>

    </div>

          <form action="/product/productSearch" method="post">
              {% csrf_token %}
              <div class="row" >
                  <div class="col-sm-10">
                    <input class="form-control mr-sm-2" type="search" name="productName" placeholder="What are you looking for?" aria-label="Search">
                  </div>
                  <div class="col-sm-2">
                    <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
                  </div>
              </div>
          </form>



<!--        <form  action="/product/productSearch" method="post">-->
<!--            {% csrf_token %}-->
<!--            <div class="search">-->
<!--            <input type="text" name="productName"   class="searchTerm" placeholder="What are you looking for?">-->
<!--            <button type="submit"  class="searchButton" placeholder="Search">Search</button>-->
<!--            </div>-->
<!--        </form>-->
    </div>
</div>

</div>

<bodY >


    {% for prod in product %}
        {% if prod.productName == proName %}
            <frame cols="25%,25%,25%,25%">
                <frame align="center"><img src="{{prod.image1.url}}" width="240" height="240"></frame>
                <frame align="center"><img src="{{prod.image2.url}}" width="240" height="240"></frame>
                <frame align="center"><img src="{{prod.image3.url}}" width="240" height="240"></frame>
                <frame align="center"><img src="{{prod.image4.url}}" width="240" height="240"></frame>
            </frame>


                <h2>Description:  {{ prod.description }}</h2>
                <h2>Price: $ {{prod.price }}</h2>
                <h2>Amount In Stock:  {{ prod.amountInStock }}</h2>
                <h2>Package Weight:  {{ prod.packageWeight }} lb </h2>
                <h2>user id:  {{ user.id }} </h2>


            <form  action="/myCart/addToCart" method="POST">
                {% csrf_token %}
                <input type="hidden" name="userId" value={{user.id}}>
                <label for="Qty">Qty:</label>
                                <select id="Qty" name="Qty">
                                  <option value="1">1</option>
                                  <option value="2">2</option>
                                  <option value="3">3</option>
                                  <option value="4">4</option>
                                </select>
                <button type="submit" name="prodId" value={{prod.id}} data-value="" class="button">ADD TO CART</button>
            </form>
        {% endif %}
        <div>
        {% for message in messages %}
        <h3> {{message}} </h3>
        {% endfor %}
    </div>
    {% endfor %}
</bodY>
</html>